/* Setting up our grid */
.container {
	width: 1400px; /*Set the width of the entire website here */
	margin-right: auto;
	margin-left: auto; /* Margin-left and right are set to auto to center the container */
}
.seven:first-child,.eight:first-child, .nine:first-child, .ten:first-child,.eleven:first-child,.five:first-child, .four:first-child, .three:first-child, .two:first-child, .one:first-child, .six:first-child { 
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */
}
.eleven {
	width: 91.5%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 83%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 74.5%;
	float: left;
	margin-left: 2%;
}
.eight {
	width: 66%;
	float: left;
	margin-left: 2%;
}
.seven {
	width: 57.5%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 49%; /* This div spans six columns (the entire row)*/
	float: left;
	margin-left: 2%;
}
.five {
	width: 40.5%; /* This div spans five columns */
	margin-left: 2%;
	float:left;
}
.four {
	width: 32%;
	float:left;
	margin-left: 2%;
}
.three {
	width: 23.5%;
	float:left;
	margin-left: 2%;
}
.two {
	width: 15%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 6.5%;
	float:left;
	margin-left: 2%;
}
.row {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}
.topnav{
	height: 100px; 
	margin-left: 30px; 
	font-family: verdana; 
	font-size: 12px;
	
}
.topnav div a:link{
	text-decoration: none;
	color: #fff;
	
}
.topnav div a:visited{
	color: #fff; 
}
.detailholder{
	border: 1px solid #ccc;
	height: 200px;
	width: 500px

}
.detailgrid{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-template-rows: 100px;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
 
}
.detailgrid img {
	max-width: 100%
	max-height: auto;
}

.detailgrid div{
 background-color: #eee;  
 border-radius: 6px; 
}

.bluerow{
 background-color: #eee;
  width: 50%; 
}
.addcarcontainer{
	width: 450px;
	height: 320px;
	background-color: #039BE5; 
	border: 1px solid #ccc; 
}
.addcarform  {
	margin-left: 50px;
	display: grid; 
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: auto;
	grid-column-gap: 10px; 
	grid-row-gap: 10px;
	
}

.addlabel {
	font-family: verdana; 
	width:150px; 
	color: #fff; 
	text-align:right; 
	
}

.nlabel {
	font-family: verdana, san-serif; 
	width:150px; 
	color: #666; 
	text-align:left; 
	
}


.addfields{
	width: 320px; 
	
}
.mainpic{
	width:405px; 
}

.logo{
  color: #fff;
  font-family: Lobster;
  font-size: 30px;
  vertical-align: top; 

  
}

/* this is for navigation bar */
.rownav{
 background-color: #000; 
 width: 100%;
 margin: 0px; 
}

.topflex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-context: baseline; 
  justify-content: baseline;
  flex-basis: 15%;
  margin-top: 0px; 
  
}
.topflex2 ul {
  
  overflow: hidden;
  border: 1px solid #eee;
}
.topflex2 li {
  list-style: none;
  text-align: center;
  background-color: #000;
  align-self: auto;
  width: 175px;
  height:40px;

  flex-direction: column;
  font-family: helvetica;
  font-size: 18px;
  color: #fff;
  padding-top: 10px;
}
.topflex2 li a {
  width: 120px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom:0px;
  padding-left: 35px;
  padding-right: 20px;
}
.topflex2 a:link {
  color: #fff;
}
.topflex2 a:visited{
  color: #fff; 
}
.topflex2 li a:hover {
  background-color: #eee;
  color: #000;
}



.makeflex{/*carmake column on main list */
	background-color: #eee; 
	font-family:verdana, helvetica; 
}
.atcarlistflexmain{
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: spaced-evenly; 
}
.atcarlistflexmain div{

}
.mainlistgeneralinfo{
	margin-left: 10px
    width: 150px; 
	
   }
.mainlistcarinfo{
	padding-top: 5px; 
	padding-bottom: 5px; 
	width: 200px; 
	background-color: #eee; 
	text-align: center; 
	font-family:verdana, sans-serif;
	}
.mainlistinfo{
	width: 200px;
	
	border: 1px solid #ccc; 
	margin: 10px;
	
	
}