
{% extends "bsmain.html"%}
{% load staticfiles %}

    <h4>Believe 99% of the world won't have confidence in me</h4>
</br>I  have al the confidence in myself</br>

<!--
 <div class="wrapper">
     for carsw in carlist 
     <div class="row">
-->




 


{% block content_base %}
	<!-- semantic ui -->
	<div id="testapp" class="container">
  <div class="row">
{% for carsw in cars %}
 
      
     <div class="autodb-grid-container">
  <div class="col">
      <div>
          
          <div class="row"><p class="price"><a href="#">{{carsw.year|capfirst}} {{carsw.make|capfirst}}  {{carsw.model|capfirst}}</a></p></div>
      <div class="row">Color: {{carsw.color|capfirst}}</div>  
      <div class="row"> Engine:{{carsw.engineSizecc|capfirst}} cc</div>  
      <div class="row"> $[[changeout({{carsw.price}}) ]] [[postfix]]</div>  
      </div>
  </div>
  <div class="col"><a href=""><img  width=220 src="/media/images/hondacivic.png" ></a></div>
   
  
</div> 
      
      
    
		{% endfor %}
	  </div>
  </div>
 
  <script src="{% static 'vue/testapp.js' %}" ></script>
{%endblock%}
<div> add somthing else here</div>
{% block content_links %}



<div align="center">
<nav aria-label="Page navigation">
  <ul class="pagination pagination-lg">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

	{% for npage in pages %}
 
   {% if npage == currpage %}
   <li class="page-item active"><a href="{% url 'listcars' %}/{{npage}}">{{npage}}</a></li>
   
   {% else %}

  <li class="page-item"><a href="{% url 'listcars'  %}/{{npage}}">{{npage}}</a></li>
 {% endif %} 
 
     {% endfor %}

    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
